/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*using google fornts for styling the body texts*/
body{
	font-family: 'Open Sans', sans-serif;
}

nav{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid dimgray;
	list-style-type: none;
}
nav .nav,nav .nav-logo{
	margin: 0.5rem;
	display: inline;

}
#intro{
	/*padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;*/
	text-align: center;
	padding: 2rem 10% 3rem 10%;
}
.header{
	text-align: center;

}
#intro h2,#intro p{
	margin-bottom: 1rem;
}
#intro button{
	color: whitesmoke;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
/*succeed info*/
#succeed-info{
	padding: 2rem 10% 3rem;
}
#succeed-info h2{
	margin-bottom: 1rem;
}
#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}
/*
	inline - consuming only the content width of the element
	block - consuming the full width
*/
#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/*
	Footer section
*/
footer{
	padding: 0.7rem;
}
footer span{
	margin: 0.5rem;
}

/*Activity*/
#pre-footer{
	color: white;
	padding: 2% 2% 2% 2%;
	background-color: #002540;
}
#pre-footer h3{
	margin-bottom: 0.5rem;
}
#pre-footer div{
	vertical-align: top;
	display: inline-block;
	width: 20%;
}